:root {
 --val-font-color: #212121;  
 --val-background-color: #e1f3f8;
 }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #e1f3f8;


}

ul {
  list-style: none;

}    

html, body, {
  background-color: #e1f3f8;
  height: 100%;
  text-align: center;

}

*, *::before, *::after {
  box-sizing: inherit;

}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  color: #212121;
  padding: 10px;
  min-height: 100vh;

}

h1 {
  font-size: 40px;
  text-align: center;
  line-height: 2em;
}

h2 {
  font-weight: 600;

}
  h3 {
  font-size: 20px;
  text-align:center;
  line-height: 2em;
 
}

p {
  font-size: 18px;
  text-align: center;
  line-height: 2em;
  
}
}
article {
  text-align: center;

}

.home-container {
  width: 100%;
  height: 60vh;
  padding: 0;
  background: #e1f3f8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.home-box-intro {
  width: 60%;
}

.letschat {
  width: 30vw;
  margin: auto;
  outline: 0;
  background-color: #020202;
  color: rgb(255, 255, 255);
  border: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  gap: 8px;
  line-height: 10px;
  overflow: hidden;
  padding: 20px 0px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

.letschat:hover {
  box-shadow: 10px 10px, #B7A56E);
  transform: translate(-5px,-5px);
  background-color: #B7A56E;

}
.letschat:focus-visible{
  outline-offset: 5px;

}
/* Main Navigation Menu Styling <---------------------- */

menu {
    background-color: #e1f3f8;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

menu ul {
    margin: 0;
    padding: 0;
}

menu ul li {
    display: inline-block;
    list-style-type: none;
}

menu ul li a {
    color: #212121;
    display: block;
    line-height: 2em;
    padding: 2em;
    text-decoration: none;
}

menu ul li a:hover {
    background-color: #B7A56E;
    border-top-left-radius: 1em 1em; 
    border-top-right-radius: 1em 1em; 
    
}

/* Footer */

#footer {
  position: sticky;
  top: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

}

#footer .content {
  text-align: center;
  padding: 10px 0 10px;
  margin: 0 0 10px;
  border: 1px black;

}

/* Social Media Icons */

#footer .social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 20px;

}

#footer .social li {
padding: 0 20px;

}

#footer .social a {
    color: #020202;
}

#footer .social a:hover {
  color:#B7A56E;
}

/* Blog Styling */

#myblog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.blog-title h1 {
    font-size: 2.2rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    flex-wrap: wrap;
}
 
.blog-post{
    width:350px;
    background-color: #ffffff;
    border: 2px solid #000000;
    margin: 20px 20px;
    box-shadow: 5px 5px;
}

.blog-post:hover {
    border: 2px solid #B7A56E;
    margin: 20px 20px;
    box-shadow: 5px 5px #B7A56E;
}
.blog-image{
    width:100%;
    height: auto;
}
.blog-image:hover {
  opacity: 0.5; 
  color: rgb(183, 165, 110, 0.8);
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-content span{
    color: #000000;
    font-size: 0.9rem;
    padding-bottom: 10px;
}
.blog-content .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-content p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    text-align: left;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-content > a{
    color: #0f0f0f;
    font-size: 0.8rem;
    text-align: left;
}

figcaption {
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
}

#readmore {
    color: #0f0f0f;
    font-size: 1rem;
    text-align: right;
}
.blog-content a:hover{
    color: #c74242;
    transition: all ease 0.3s;
}

/* Media Breakpoints for blog */
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
#blog{
        padding:20px;
    }
}

/* About Me Page */

.about-me-elle {
    height: 300px;
    width: 300px;
    padding: 0px;
    border: 2px solid #000000;
    margin: 20px 20px;
    box-shadow: 5px 5px;
}

.about-me-elle:hover {
  opacity: 0.5; 
  color: rgb(183, 165, 110, 0.8);
   border: 2px solid #B7A56E;
    
}
.aboutme {
  width: 100%;
  margin: 1rem auto;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;

}
.aboutme p {
  font-size: 1.25rem;
  margin: 0;
  padding-bottom: 2rem;
}
.aboutme h2 {
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;

}
#skillslist {
  column-count: 3;
  column-rule:  solid 1px #333;
  list-style-type: none;
  padding-bottom: 50px;

}
#skillslist li {
  font-size: xxx-large;
  padding: 30px;

}
#skillslist li:hover {
  color:#B7A56E;
}
}
/* Media Breakpoints for About Me */

@media (min-width: 40rem) {

.about-me-elle {
border-radius: 0%;

}

  article {
  text-align: center;
  max-width: 100%;
  margin: 1rem auto;
  padding-bottom: 20px;
  text-decoration: solid;
  }

  article p {
  text-align: center;
  max-width: 50%;
  margin: 1rem auto;
  
}
 .aboutme h2 {
  font-weight: 200;
  text-align: center;
  padding-top: 2rem;

}
  img {
    float: right;
    max-width: 100%;
    margin: 0 0 1rem 1rem;
}
.aboutme h2 {
  font-weight: 200;
} 
  }
}
...

}



/* My Resume Page Styling */

.myresume {
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;

}
.box {
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 80px;
    }
}

/* Contact Us */


}

