
/* Main Navigation Menu Styling */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* Menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* Menu Button Styling */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* Responsive Menu Actions */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 250px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Media 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Home Page Content Flexbox */

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  padding-top: 50px;
}

.wrapper> * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.main {
  padding-inline-end: 150px;
  text-align: left;
  background: #fcfcfc;
  font-size: 24px;
  
}

.main h1 {
  font-family: 'Open Sans', sans-serif;
  background: #fcfcfc;
  font-size: 16px;

}
.main h3 {
  font-family: 'Open Sans', sans-serif;
  background: #fcfcfc;
  font-size: 20px;
}
.main p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.letschat {
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #ff90e8;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 20px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 15px 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

.letschat:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);

}
.letschat:focus-visible{
  outline-offset: 1px;

}

@media all and (min-width: 800px) {

.main {
    flex: 100%;
     order: 1;
  }
  .footer {
    order: 2;
  }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .main h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .main {
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .wrapper {
    text-align: center;
  }
   .main {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .main h1 p {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

/* Footer Styling */


